.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
} */
/* shared style */
.display-flex{
    display: flex;
}
.dark-1{
    color: rgba(19, 19, 19, 1);
}
.dark-2{
    color: rgba(66, 66, 66, 1);
}
.dark-3{
    color: rgba(114, 114, 114, 1);
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}
.btn-primary{
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
/* header */


/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
} 
.item{
    list-style: none;
    margin-left: 20px;
}
.item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}
 .banner-img{
    width: 100%;
 } 

.brand{
    font-size: 3rem;
    font-weight: 700;
}
/* banner  */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    /* margin-top: 102px; */
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img {
    padding-bottom: 3rem;
}
/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
}
.team-member{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-content{
    max-width: 537px;
}
.team-section{
    gap: 70px;
    align-items: center;
}
.title{
    font-size: 3rem;
    margin-bottom: 24px;
}
.color-2{
    color:#FF900E ;
}
.team-description{
    font-size: 16px;
    font-weight: 400;
}
/* feature */
.feature{
    margin-top: 130px;
    gap: 140px;
}
.feature-card{
    max-width: 586px;
    padding: 30px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.252);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-title{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.experience-btn{
    margin-top: -110px;
    margin-left: -60px;
}
.experience{
    font-size: 40px;
    font-weight: 900;
}

@media screen and (max-width:576px){
    .navbar, .nav-links, .team-section,.feature{
        flex-direction: column;
    }
    .team-member{
        grid-template-columns: repeat(1,1fr);
    
    }
    .team-content{
        text-align: center;
    }
    .architec{
        width: 100%;
    }
    .feature-item{
        margin-top: 0px;
    }
    .experience-btn{
        margin-top: 0;
        margin-left:0;
       
    }
}